<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing _baba">
  <test  name="LoginTest" enabled="false">
      <parameter name="env" value ="stagingurl"></parameter>
    <classes>

      <class name="testingbaba_test.Login_test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Textbox" enabled="false">
  <parameter name="env" value ="stagingurl"></parameter>
   <classes>
   <class name="testingbaba_test.Textbox_test"/>
   </classes>
  </test>
  <test name="Checkbox" enabled="false">
  <parameter name="env" value ="stagingurl"></parameter>
   <classes>
   <class name="testingbaba_test.Checkbox_test"/>
   </classes>
  </test>
  <test name="Webtable" enabled="false">
  <parameter name="env" value ="stagingurl"></parameter>
   <classes>
   <class name="testingbaba_test.Webtable_Test"/>
   </classes>
  </test>
  <test name="Button_Test" enabled="false">
  <parameter name="env" value ="stagingurl"></parameter>
   <classes>
   <class name="testingbaba_test.Button_Test"/>
   </classes>
  </test>
  <test name="Upload" enabled="false">
  <parameter name="env" value ="stagingurl"></parameter>
   <classes>
   <class name="testingbaba_test.Upload_Test"/>
   </classes>
  </test>
   <test name="SelectmenuTest" enabled="false">
  <parameter name="env" value ="stagingurl"></parameter>
   <classes>
   <class name="testingbaba_test.Selectmenu_test"/>
   </classes>
  </test>
  <test name="Tooltip" enabled="true">
  <parameter name="env" value ="stagingurl"></parameter>
  <parameter name="browsername" value ="mozila"></parameter>
   <classes>
   <class name="testingbaba_test.ToolTip_Test"/>
   </classes>
  </test>
</suite> <!-- Suite -->
